.mat-card {
  width: 30%;
  margin: 10px;
  position: relative;
}

.gastos-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.enlace {
  text-decoration: none;
}

.close-button {
  float: right;
  top: -24px;
  right: -24px;
}

.close-container {
  width: 100%;
  margin-bottom: 20px;
  position: relative;
}
.close {
  position: absolute !important;
  right: 10px !important;
}
