<div class="container">
  <div class="column no-gutters">
    <div class="d-flex justify-content-between">
      <div class="column">
        <h2>S./ {{ total }}</h2>
        <p>El total de los pagos registrados para este periodo.</p>
      </div>
      <div>
        <button type="button" class="btn btn-primary" (click)="btnClick()">
          Registrar un nuevo gasto
        </button>
      </div>
    </div>
    <div class="row">
      <div class="gastos-container">
        <mat-card *ngFor="let gasto of gastos">
          <div class="close-container">
            <button class="close" mat-button (click)="delete(gasto.outcomeId)">
              X
            </button>
          </div>
          <mat-card-title>S./ {{ gasto.amount }}</mat-card-title>
          <mat-card-content>
            <a
              class="enlace"
              [routerLink]="['/gasto', gasto.outcomeId, 'update']"
            >
              {{ gasto.detail }}</a
            >
          </mat-card-content>
          <mat-card-subtitle>{{
            gasto.createdAt | date: "dd/MM/yyyy"
          }}</mat-card-subtitle>
        </mat-card>
      </div>
    </div>
  </div>
</div>
